.carousel-container {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}



.image-container {
    width: 200px;
    height: 200px;
}
img{
    width: 100%;
    height: 100%;
}

.input-fields{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
